@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Raleway:400');

/* ## Universal Selectors */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E3E3E3;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    text-indent: 4px;
}

button:hover, a:hover {
    cursor: pointer;
}

/* ### General Purpose Containers ### */

.flex-cont__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 6.6vh;
}

.flex-cont__col {
    display: flex;
    flex-direction: column;
}

/* ### Header ### */

.home-header {
    width: 100vw;
    color: #E5EFF5;
    font-family: 'PT Sans', sans-serif;
}

.home-header__top-row {
    background-color: #005C98;
    width: 100vw;
    padding: 4px;
}

.home-header__top-nav {
    text-align: center;
    font-size: 0.75rem;
}

.home-header__top-nav li {
    display: inline-block;
    list-style-type: none;
    margin: 4px 5px;
}

.home-header__middle-row {
    background-color: #1A6DA3;
    width: 100vw;
    padding: 4px;
}

.home-header__bottom-row {
    background-color: #026ECA;
    width: 100vw;
}

.home-header__logo {
    max-height: 11.7vmin;
    max-width: 11.7vmin;
    margin: 0.1rem 0.5rem 0.1rem 0;

}

.home-header__banner-text {
    display: inline-block;
    padding: 2.5vw;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    position: relative;
    top: 0.1rem;
}

.home-header__login-button {
    height: 30px;
    width: 25.9vw;
    background-color: #EBEBEB;
    text-align: center;
    padding: 5px;
    margin: 0 0 0 10px;
    color: #026FCA;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.home-header__bottom-nav{
    font-size: 1.1rem;
    font-weight: 300;
    list-style-type: none;
}


.home-header__bottom-nav ul {
    height: 0px;
    background-color: #DDEAF4;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.home-header__bottom-nav ul.active{
    height: 36.4vh;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.home-header__bottom-nav li {
    opacity: 0;
    z-index: -1;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0s;
    margin: 0.4rem 1rem;
    font-family: 'Raleway', sans-serif;
}

.home-header__bottom-nav ul.active li {
    opacity: 100;
    z-index: 0;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0.15s;
}

.home-header__bottom-nav ul{
    list-style-type: none;
}

.home-header__banner-image{
    height: 23.45vh;
    width: 100vw;
    background-size: cover;
}

.home-header__button {
    background-color: rgb(220, 220, 220);
}

.home-header__button:hover {
    background-color: #EBEBEB;
}

.image-0{
    background-image: url(./assets/the-academy0.jpg);
}

.image-1{
    background-image: url(./assets/the-academy1.jpg);
    background-position: 100% 55%;
}

.image-2{
    background-image: url(./assets/the-academy2.jpg);
    background-position: 100% 30%;
}

.search-form__input {
    width: 30.7vw;
}

button img {
    max-width: 17px;
    margin: 3px 0 0 0;
}

[type] {
    border: none;
    height: 4.6vh;
}

[placeholder="Search..."] {
    color: black;
    opacity: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
}

.display-toggle {
    width: 19.3vw;
    background-color: #00243D;
    width: 21.1vw;
    height: 4.5vh;
    border: none;
    margin: 5px 0 0 15px;
    color: #EBEBEB;
    font-family: 'Raleway', sans-serif;
    font-size: 1.01rem;
    font-weight: 300;
}

.display-toggle:hover{
    cursor: pointer;
}

.active{
    background-color: #DDEAF4;
    color: #00243D;
}

.map-aside {
    height: 6.4vh;
    width: 100vw;
    margin: 1rem 0 3rem 0;
    background-image: linear-gradient(to bottom, #FFCB00, #FFB437);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    text-shadow: 1.5px 1px 1px rgb(255, 232, 138);
}

.map-aside__button{
    display: inline-block;
    height: 6.4vh;
    width: 26.2vw;
    background-image: linear-gradient(to bottom, #FFCB00, #FFB437);
    border: solid 1px #FFB437;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    text-shadow: 1.5px 1px 1px rgb(255, 232, 138);
    text-align: left;
    border-radius: 2px;
}

.map-aside__map-button {
    margin: 0 0 0 6vw;
}

.map-aside__admissions-button {
    width: 67.2vw;
    border-left: none;
}

.map-aside__button:hover {
    background-image: linear-gradient(to bottom, #FFCB00, #FFCB00);
    cursor: pointer;
}

.map-aside__bold-text{
    font-weight: 700;
    color: rgb(48, 48, 41)
}

.map-aside__italic-text{
    margin: 0 0.5rem 0 0;
    font-style: italic;
    color: rgb(48, 48, 41)
}

.map-aside__pointer-image {
    max-height: 1.2rem;
    max-width: 1.2rem;
    position: relative;
    top: 2px;
}

/* ### Main ### */

main section {
    padding: 0.2rem;
    margin: 8vw 5vw;
    background-color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    border: solid 1px rgb(200, 200, 200);
}

.main__news-box li {
    list-style-type: none;
    line-height: 0.9rem;
}

.main__news-box a {
    display: inline-block;
    margin: 0 0 0 0.8rem;
    color: #003366;
    font-size: 0.9rem;
    font-weight: bold;
    text-decoration: none;
}

.main__news-box span {
    color: #999999;
    font-size: 0.65rem;
    line-height: 1rem;
    display: inline-block;
    margin: 0 0 0.4rem 0.8rem;
    vertical-align: top;
}

.main__news-header {
    margin: 0.9rem 0 1.5rem 0.7rem
}

.main__headline-text{
    margin: 0;
    vertical-align: center;
    font-size: 1.2rem;
    color: #343434;
    display: inline-block;
}

.main__spotlight-header {
    font-size: 1.2rem;
}

.main__spotlight-image {
    background-image: url(./assets/socrates.jpeg);
    width: 72.3vw;
    height: 27.4vh;
    background-size: cover;
}

.main__news-icon {
    max-height: 1.2rem;
    max-width: 1.2rem;
}

#lastNewsSpan{
    margin-bottom: 1.7rem;
}