@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Raleway:400');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E3E3E3;
}

ul {
    margin: 0;
    padding: 0;
}

input {
    text-indent: 4px;
}

button:hover, a:hover {
    cursor: pointer;
}

.header {
    height: 22vh;
    width: 100vw;
    color: #E5EFF5;
    font-family: 'PT Sans', sans-serif;
}

.header__top-row {
    background-color: #005C98;
    width: 100vw;
    padding: 4px;
}

.header__top-nav {
    text-align: center;
    font-size: 0.75rem;
}

.header__top-nav li {
    display: inline-block;
    list-style-type: none;
    margin: 4px 5px;
}

.header__middle-row {
    background-color: #1A6DA3;
    width: 100vw;
    padding: 4px;
}

.header__bottom-row {
    background-color: #026ECA;
    width: 100vw;
}

.header__logo {
    max-height: 11.7vmin;
    max-width: 11.7vmin;
    margin: 0.1rem 0.5rem 0.1rem 0;

}

.header__banner-text {
    display: inline-block;
    padding: 2.5vw;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    position: relative;
    top: 0.1rem;
}

.header__login-button {
    height: 30px;
    width: 25.9vw;
    background-color: #EBEBEB;
    text-align: center;
    padding: 5px;
    margin: 0 0 0 10px;
    color: #026FCA;
    letter-spacing: 0.1rem;
    font-size: 0.75rem;
    font-weight: bold;
}

.header__bottom-nav{
    font-size: 1.1rem;
    font-weight: 300;
    list-style-type: none;
}


.header__bottom-nav ul {
    height: 0px;
    background-color: #DDEAF4;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.header__bottom-nav ul.active{
    height: 36.4vh;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.header__bottom-nav li {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0s;
}

.header__bottom-nav ul.active li {
    opacity: 100;
    transition-property: opacity;
    transition-duration: 0.1s;
    transition-delay: 0.15s;
}

.header__bottom-nav ul{
    list-style-type: none;
}

.header__bottom-nav li{
    margin: 0 0 0.5rem 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0.4rem 1rem;
}

.header__banner-image{
    height: 23.45vh;
    width: 100vw;
    background-size: cover;
    background-repeat: repeat;
}

.header__button {
    background-color: rgb(220, 220, 220);
}

.header__button:hover {
    background-color: #EBEBEB;
}


.image-0{
    background-image: url(./assets/the-academy0.jpg);
}

.image-1{
    background-image: url(./assets/the-academy1.jpg);
    background-position: 100% 55%;
}

.image-2{
    background-image: url(./assets/the-academy2.jpg);
    background-position: 100% 30%;
}


.search-form__input {
    width: 30.7vw;
}

button img {
    max-width: 17px;
    margin: 3px 0 0 0;
}

[type] {
    border: none;
    height: 4.6vh;
}

[placeholder="Search..."] {
    color: black;
    opacity: 100;
    font-family: 'Raleway', sans-serif;
    font-size: 0.75rem;
}

.flex-cont__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-height: 6.6vh;
}

.flex-cont__col {
    display: flex;
    flex-direction: column;
}

.display-toggle {
    width: 19.3vw;
    background-color: #00243D;
    width: 21.1vw;
    height: 4.5vh;
    border: none;
    margin: 5px 0 0 15px;
    color: #EBEBEB;
    font-family: 'Raleway', sans-serif;
    font-size: 1.01rem;
    font-weight: 300;
}

.display-toggle:hover{
    cursor: pointer;
}

.active{
    background-color: #DDEAF4;
    color: #00243D;
}

.map-aside {
    height: 6.4vh;
    width: 100vw;
    margin: 1rem 0;
    background-image: linear-gradient(to bottom, #FFCB00, #FFB437);
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    text-shadow: 1.5px 1px 1px rgb(255, 232, 138);
}

.map-aside__button{
    display: inline-block;
    height: 6.4vh;
    width: 26.2vw;
    background-image: linear-gradient(to bottom, #FFCB00, #FFB437);
    border: solid 1px #FFB437;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    text-shadow: 1.5px 1px 1px rgb(255, 232, 138);
    text-align: left;
    border-radius: 2px;
}

.map-aside__map-button {
    margin: 0 0 0 6vw;
}

.map-aside__admissions-button {
    width: 67.2vw;
    border-left: none;
}

.map-aside__button:hover {
    background-image: linear-gradient(to bottom, #FFCB00, #FFCB00);
    cursor: pointer;
}

.map-aside__bold-text{
    font-weight: 700;
    color: rgb(48, 48, 41)
}

.map-aside__italic-text{
    margin: 0 0.5rem 0 0;
    font-style: italic;
    color: rgb(48, 48, 41)
}

.map-aside__pointer-image {
    max-height: 1.2rem;
    max-width: 1.2rem;
    position: relative;
    top: 2px;
}